<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Game Adivinhe</title>
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
</head>
<body>
<center>
    <h1>Adivinhe o número</h1>
    <h3>Tente a sorte, escolha um número entre 1 e 10 e acerte o número escolhido.</h3>
  <form action="{{ url_for('home') }}" method="POST">
    <label for="">Escolha um número</label><br>
    <input type="text" name="valor" placeholder="Digíte um número">
    <button>Enviar</button>
  </form>
</center>
</body>
</html>